.container-div {
    border: inherit;
}

.container-div-tabs {
    width: 92%;
}

.sidebarOption {
    width: 50%;
    padding: 2%;
    background-color: rgb(220, 106, 243);
}

.sidebarOptionLeft {
    border-top-left-radius: 10px;
    width: 50%;
    padding: 2%;
    background-color: rgb(220, 106, 243);
}