<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="div-homePage">
    <div class="div-searchBar">
        <input class="input-search" placeholder="Search RazettoStone" (input)="this.translationService.searchString = $event.target.value" (keyup.enter)="this.retrievePosts()">
        <button class="button-search" (click)="this.retrievePosts()"><i class="fa fa-search"></i></button>
    </div>
    <br><br>
    <div class="div-searchResult">
        <div class="div-translation" *ngFor="let translation of this.translations;">
            <div class="div-translationVote">
                <br>
                <button class="button-upvote" (click)="this.upvotePost(translation.id)"><i class="fa fa-arrow-up"></i></button>
                <h3 style="line-height: 0px;"> {{translation.upvotes.length - translation.downvotes.length}}</h3>
		        <button class="button-downvote" (click)="this.downvotePost(translation.id)"><i class="fa fa-arrow-down"></i></button>     
            </div>

            <div class="div-translationBody" (click)="this.navigate(translation.id)">
                <h4> {{translation.title}} </h4>
                <p>{{translation.originalText}}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="div-page">
        <button class="button-page" [disabled]="this.page == 0" (click)="this.prevPage()">&laquo;</button>
        <button class="button-page" [disabled]="this.translations.length == 0" (click)="this.nextPage()">&raquo;</button>
    </div>
</div>