<h2> {{this.getCurrentScreenTitle()}} </h2>


<label>Title:</label><br>
<input [value]="title" (input)="title = $event.target.value"><br><br>

<label>language:</label><br>
<input [value]="language" (input)="title = $event.target.value"><br><br>

<label>tags:</label><br>
<input [value]="tags" (input)="title = $event.target.value"><br><br>

<label>Text:</label><br>
<input type="file" (change)="fileChanged($event)">


<button (click)="this.location.back()"> Back </button>
<button (click)="this.navigate('preview')">Preview </button>
<button *ngIf="this.uploadOriginalText" (click)="this.navigate('-1')">Add Translation</button>
