
<div class="div-homePage">
    <div class="div-searchBar">
        <input class="input-search" placeholder="Search RazettoStone" (input)="this.homePageService.searchString = $event.target.value">
        <button class="button-search" (click)="this.submit()"><i class="fa fa-search"></i></button>
    </div>
    <br><br>
    <div class="div-searchResult">
        <div *ngFor="let translation of this.translations;">
			<div class="div-translation">
				<div class="div-translationVote">
					<br>
					VOTES:
					<h3> {{translation.upvotes.length - translation.downvotes.length}}</h3>
				</div>

				<div class="div-translationBody">
					<h4> {{translation.title}} </h4>
					<p>{{translation.originalText}}</p>
				</div>
			</div>
        </div>
    </div>
</div>