.div-add-comment {
    border: 1px;
    border-style: outset;
    display: flex;
}

.input-comment {
    width: 90%;
}

.button-comment {
    background-color: rgb(220, 106, 243);
    font-size: small;
}

.div-comment {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}