<p> comments for Post::{{ this.routeParams.translationID }} </p>
<p *ngIf="this.routeParams.translationTextID"> comments for Translation:: {{ this.routeParams.translationTextID }} </p>

 <input class="input-title" placeholder="Write a comment..." (input)="this.currentCommentText = $event.target.value"><br><br>
 <button (click)="this.submitComment(this.currentCommentText)"> submit </button>
 
 <div *ngFor="let comment of this.currentComments">
	<p *ngIf="comment.user" > {{ comment.user.userName }} : </p>
	<p> {{ comment.text }} </p>
	<br>
 </div>
