<div class="container-div">
	<nav class="nav-bar">
		<button class="nav-button" (click)="this.router.navigateByUrl('')"> Front Page </button >
		<button class="nav-button" (click)="this.router.navigateByUrl('translations')"> Translation List </button >
		<button class="nav-button" (click)="this.router.navigateByUrl('upload')"> Upload </button >
		<button class="nav-button" style="float:right; background-color:cornflowerblue;" (click)="this.router.navigateByUrl('login')"> Login </button >
	</nav>
</div>