<div class="container-div">
	<nav class="nav-bar">
		<button class="nav-button" (click)="this.navigate('')"> Front Page </button >
		<button class="nav-button" (click)="this.navigate('translations')"> Translation List </button >
		<button class="nav-button" (click)="this.navigate('upload')"> Upload </button >
		<button class="nav-button" (click)="this.navigate('homePage')"> HomePage Search</button>
		<div class="div-login">
			<button  *ngIf="!this.userService.getCurrentUser()" class="nav-button"(click)="this.navigate('login')"> Login </button >
			<button  *ngIf="this.userService.getCurrentUser()" class="nav-button" (click)="this.userService.logOut()"> {{ this.userService.getCurrentUser().userName }} </button>
		</div>
	</nav>
</div>