.container-div {
	display: block;
}

.nav-button {
    background-color: #333;
    /* display: block; */
    color: white;
    text-align: center;
    padding: 10px 15px;
    border: #333;
    font-size: 15px;
	float:left; 
}

.div-login .nav-button {
	float:right; 
	background-color:cornflowerblue;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}