.div-preview {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.button-preview {
    padding: 0.7vh 2vh;
    background-size: 7vh;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 15px;
    margin: 1vh
}