<div class = "sidebar" [ngClass]="{'sidebaropened': sidebarOpened}">
	<h1> Original Text </h1>
	<nav>
		<p class= "sidebarButton" (click)="sidebarOpened = true;" *ngIf="!sidebarOpened" >
			&#9776;
		</p>
	</nav>
	<div class="sidebarInner" [ngClass]="{'sidebaropened': sidebarOpened}">
		<sidebar *ngIf="sidebarOpened" [translation]="this.translation"> </sidebar>
		<button class="sidebarOption"(click)="sidebarOpened = false"><b> &times;</b></button>
	</div>
</div>
<div class="container-div" [ngClass]="{ 'sidebaropened': sidebarOpened}">
	<div class="textBoxL">
		<span *ngFor="let originalLine of translation.getOriginalText(true).getTextLines(); let i=index"
			(mouseenter)="hoveredIndex = i"
			(mouseleave)="hoveredIndex = -1"
			[ngStyle]= "{'background-color': i == hoveredIndex ? '#AFFFFF' : 'inherit'}">
			{{originalLine.getText()}}
		</span>
	</div>
	<div class="textBoxR">
		<h2> translations </h2>
		<router-outlet name="translations">
		</router-outlet>
	</div>

</div>