<div class = "sidebar" [ngClass]="{'sidebaropened': sidebarOpened}">
	
	<p class= "sidebarButton"(click)="sidebarOpened = true" *ngIf="!sidebarOpened">
		&#9776;
	</p>
	<div class="sidebarInner" [ngClass]="{'sidebaropened': sidebarOpened}">
		<button class="sidebarOption"(click)="sidebarOpened = false"><b> &times;</b></button>
	</div>
</div>
<div class="container-div" [ngClass]="{ 'sidebaropened': sidebarOpened}">
	<div class="textBox">
		<span *ngFor="let originalLine of translation.getOriginalText(true).getTextLines(); let i=index"
			(mouseenter)="hoveredIndex = i"
			(mouseleave)="hoveredIndex = -1"
			[ngStyle]= "{'background-color': i == hoveredIndex ? '#AFFFFF' : 'inherit'}">
			{{originalLine.getText()}}
		</span>
	</div>
	<div class="textBox">
		<span *ngFor="let translatedLine of translation.getOriginalText(false).getTextLines(); let i=index"
			(mouseenter)="hoveredIndex = i"
			(mouseleave)="hoveredIndex = -1"
			(click)="sidebarOpened = true"
			[ngStyle]= "{'background-color': i == hoveredIndex ? '#AFFFFF' : 'inherit'}">
			{{translatedLine.getText()}}
		</span>
	</div>

</div>