.container-div {
	display: flex;
	height: 75vh;
	justify-content: center;
	background-color:#F73CDE;
	transition-property: all;
	transition-duration: 1s;
	overflow: auto;
}

.textBox {
	width: 49%;
	margin: 1%;
	border: 1px dotted yellow;
}

.textBox p {
	text-align: center;
}


.sidebar {
	display: none;
	border: 3px solid purple;
	background-image: linear-gradient(#F73CDE, #FA69E7, #FEA9F3);
}

.sidebar.sidebaropened {
	width: 15%;
	display: block;
    transform: translate(5vw);
}
.sidebaropened {
    transform: translate(-5vw);
}

.sidebarButton {
	font-size: 32px;
	cursor: pointer;
}