.container-div {
	display: flex;
	height: 85vh;
	justify-content: center;
	transition-property: all;
	transition-duration: 1s;
	border-color: white;
}

.originalText {
	width: 35%;
	margin: 1%;
	overflow: auto;
	padding: 1%;
}

.translationPreviews {
	width: 65%;
	margin: 1%;
	border-left: 2px solid black;
	overflow: auto;
	padding-left: 1%;
}


.sidebar {
	position: fixed;
	left: 0vw;
	transition-property: all;
	transition-duration: 1s;
}

.sidebarInner {
	width: 25vw;
	height: 80vh;
	background-image: linear-gradient(rgb(252, 150, 238), rgb(250, 183, 241), rgb(250, 229, 248));
	border-radius: 10px;
	position: fixed;
	top: 10vh;
	left: -26vw;
	transition-property: all;
	transition-duration: 1s;
	overflow: scroll;
	padding-left: 1%;
	padding-right: 1%;
}

.sidebarInner::-webkit-scrollbar {
	display: none;
}

.sidebar.sidebaropened .sidebarInner {
	left: 1vw;
}


.sidebarButton {
	position: absolute;
	font-size: 32px;
	float: left;
	transform: translate(90vw, -15px);
	cursor: pointer;
}

.button-addTranslation {
	padding: 0.7vh 2vh;
    background-size: 7vh;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 15px;
    margin: 1vh
}

.sidebarOption {
	width: 100%;
	border-radius: 6px; 
	padding: 2%;
	background-color: rgb(220, 106, 243);
}