.container-div {
	display: flex;
	height: 85vh;
	justify-content: center;
	transition-property: all;
	transition-duration: 1s;
	border-color: white;
}

.originalText {
	width: 35%;
	margin: 1%;
	overflow: auto;
	padding: 1%;
}

.translationPreviews {
	width: 65%;
	margin: 1%;
	border-left: 2px solid black;
	overflow: auto;
	padding-left: 1%;
}


.sidebar {
	position: fixed;
	left: 0vw;
	transition-property: all;
	transition-duration: 1s;
}

.sidebarInner {
	width: 25vw;
	height: 80vh;
	border: 2px solid purple;
	background-image: linear-gradient(#F73CDE, #FA69E7, #FEA9F3);
	
	position: fixed;
	top: 10vh;
	left: -26vw;
	transition-property: all;
	transition-duration: 1s;
}

.sidebar.sidebaropened .sidebarInner {
	left: 1vw;
}


.sidebarButton {
	position: absolute;
	font-size: 32px;
	float: left;
	transform: translate(90vw, -15px);
	cursor: pointer;
}

.button-addTranslation {
    padding: 1.2vh 2vh;
    width: 20vh;
    background-size: 7vh;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 15px;
	margin: 1vh;
}

.div-addTranslation {
	padding-left: 1%;
}

.input-title {
    font-size: 15px;
    width: 80%;
    line-height: 4vh;
    padding-left: 3%;
}

.input-language {
    font-size: 15px;
    width: 20%;
    line-height: 4vh;
    padding-left: 3%;
}

.div-upload-text {
    border-color: rgb(223, 223, 223);
    border-style: outset;
    padding: 2%;
    max-width: 80%;
    max-height: 50vh;
    overflow: scroll;
}

.button-upload {
    padding: 1.2vh 2vh;
    width: 20vh;
    background-size: 7vh;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
	font-size: 15px;
	margin-top: 4%;
}

input[type='file'] {
	color: transparent;
}

.div-translationForm {
	width: 65%;
	margin: 1%;
	border-left: 2px solid black;
	overflow: auto;
	padding: 5%;
}